@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --darker-color: #121927;
    --dark-color: #3E4852;
    --light-color: #FEFEFE;

    --h1-fontsize: 30px;
    --label-fontsize: 16px;
    --p-fontsize: 12px;

    --font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: none;
}

h1,
h2,
p,
i,
label,
input,
button {
    font-family: var(--font-family);
}

h1,
label,
p {
    color: var(--light-color);
}

h1::selection,
p::selection,
label::selection,
button::selection,
.strong::selection,
i::selection {
    background-color: var(--dark-color);
    color: var(--lighter-color);
}

h1 {
    font-size: var(--h1-fontsize);
}

label {
    font-size: var(--label-fontsize);
}

p {
    font-size: var(--p-fontsize);
}

button {
    color: var(--light-color);
    font-size: var(--p-fontsize);
    border-radius: 5px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    vertical-align: middle;
}

a:hover {
    color: var(--dark-color);
}

svg {
    vertical-align: middle;
    color: var(--light-color);
    font-size: var(--p-fontsize);
    transform: scale(.5);
    fill: var(--light-color);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
}

#container {
    width: 55%;
    height: 80%;
    background-color: var(--darker-color);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(38, 38, 38, 0.3);
    -moz-box-shadow: 0px 10px 15px 0px rgba(38, 38, 38, 0.3);
    box-shadow: 0px 10px 15px 0px rgba(38, 38, 38, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.login {
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.strong {
    color: var(--light-color);
    font-weight: bold;
}

.text {
    width: 75%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.formdiv {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

fieldset {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.parallel {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.name {
    width: 45%;
}

input {
    width: 100%;
    height: 2rem;
    background-color: inherit;
    padding: 5px 15px;
    transition: border 0.3s;
    border-radius: 5px;
    border: 1.75px solid var(--light-color);
    color: var(--light-color);
}

input:hover,
input:focus {
    border-color: var(--dark-color);
    outline: none;
}

.terms {
    width: 75%;
    height: 10%;
}

.button-box {
    width: 75%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.submit {
    height: 2.5rem;
    padding: 5px 15px;
    background-color: var(--dark-color);
    border: 2px solid var(--light-color);
}

.submit:hover,
.submit:focus,
.submit:active {
    cursor: pointer;
    background-color: var(--dark-color);
}

@media screen and (max-width: 950px) {
    :root {
        --h1-fontsize: 40px;
        --label-fontsize: 25px;
        --p-fontsize: 18px;
    }

    #container {
        width: 70%;
    }

    input {
        height: 3em;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --h1-fontsize: 25px;
        --label-fontsize: 12px;
        --p-fontsize: 10px;
    }

    #container {
        width: 85%;
        height: 60%;
    }

    input {
        height: 2em;
    }

    input::placeholder {
        font-size: var(--p-fontsize);
    }

    .submit {
        height: 3em;
    }
}

@media screen and (max-width: 300px) {
    :root {
        --h1-fontsize: 18px;
        --label-fontsize: 10px;
        --p-fontsize: 8px;
    }

    #container {
        width: 85%;
        height: 70%;
    }

    input {
        height: 1.5em;
        padding: 0;
    }

    svg {
        transform: scale(.3);
    }
}

@media screen and (max-height: 700px) {
    #container {
        width: 85%;
        height: 80%;
    }
}