@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --darker-color: #121927;
    --dark-color: #3E4852;
    --light-color: #FEFEFE;

    --h1-fontsize: 30px;
    --h2-fontsize: 16px;
    --p-fontsize: 12px;

    --font-family: 'Poppins', sans-serif;
}

h1,
h2,
p,
button,
i,
input {
    color: var(--light-color);
    font-family: var(--font-family);
}

h1::selection,
h2::selection,
p::selection,
i::selection,
button::selection {
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
}

i {
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    color: var(--dark-color);
}

h1 {
    font-size: var(--h1-fontsize);
}

h2 {
    font-size: var(--h2-fontsize);
}

p,
button,
i,
input {
    font-size: var(--p-fontsize);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    box-shadow: 1px 1px 11px 3px rgba(152, 152, 152, 0.49);
    -webkit-box-shadow: 1px 1px 11px 3px rgba(152, 152, 152, 0.49);
    -moz-box-shadow: 1px 1px 11px 3px rgba(152, 152, 152, 0.49);
    width: 80%;
    height: 80%;
    background-color: var(--darker-color);
    border-radius: 10px;
}

#subscription {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

#subscription-text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

#subscription-form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#subscription-form input {
    background-color: inherit;
    border: 2px solid var(--light-color);
    border-radius: 5px;
    height: 2.5rem;
    padding: 5px 15px;
    font-weight: bold;
    margin-right: 1.5rem;
    outline: none;
}

#subscription-form button {
    background-color: var(--dark-color);
    border: 2px solid var(--light-color);
    border-radius: 5px;
    height: 2.5rem;
    padding: 5px 15px;
    font-weight: bold;
}

#subscription-form button:hover {
    cursor: pointer;
}

#links {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

#links-description {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5rem;
}

#links-description h2 {
    margin-bottom: 1.5rem;
}

#links-pages {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column a {
    margin-bottom: 1rem;
}

#social-networks {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

#social-networks-copy {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5rem;
}

#social-networks-icon {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5rem;
}

#social-networks-icon i {
    margin-left: 1.5rem;
}